<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Document</title>
    <style>
        /* .card{
            margin-left: 475px;
            border:2px solid  ;
            
        } */
    </style>
</head>
<body>
    <div class="card " id="payment" style="width: 30rem;  border: 2px solid;  margin:auto;">
        <h1 style="text-align:center">Reset Your password</h1>
        <form style="padding-left:40px">
          <div>
          <lable for="name" >Name</lable>
          <input type="text" class=" form-control"style=width:200px placeholder="Enter your name" >
          </div>
          <br>
          <div>
            <lable for="email">Email</lable>
            <input type="text" class="form-control" style=width:200px; placeholder="Enter your email">
          </div>
          <br>
          <div>
            <lable for="password" >New password</lable>
            <input type="password" class="form-control"style=width:200px placeholder="Enter your new password">
          </div>
          <br>
          <div>
            <lable for="password" >conform new password</lable>
            <input type="password" class="form-control"style=width:200px placeholder="conform your new password">
          </div>
          <br>
          <button type="submit" class="btn-success">Save</button>
    
        </form>
    </div>
</body>
</html>