.h2 {
    padding-left: 40px;
    width: 300px;
  }

  .h3,
  a {
    padding-left: 40px;

  }

  img,
  #head {
    width: 30%;
    height: auto;
    position: absolute;
    right: 0;
    top: 90px;
    padding-right:15px;
  }

  html {
    scroll-behavior: smooth;
    padding-left: 200px;
    padding-right:200px;
    margin: auto;
  }
  body{
    margin: auto;
    /* padding-left:300px */
  }